* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Tela de login*/
.body-login {
    background-color: #fdd282;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-login {
    display: flex;
    height: 520px;
    width: 800px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    position: fixed;
    margin-top: 80px;
}

.container-login .login-h1 {
    margin-top: 80px;
    font-size: 46px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 40px;
}

.inp-login {
    width: 30%;
    height: 30px;
    margin: 10px 0;
    margin-left: 350px;
    border-radius: 6px;
    border: 2px solid #58692e;
    text-align: center;
}

.button-logar {
    margin-left: 350px;
    width: 30%;
    height: 30px;
    background: #06960d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    color: #ffffff;
    margin-top: 25px;
}

.button-logar:hover {
    background: rgba(69, 69, 69, 1);
}

.img-login img {
    width: 350px;
    height: 350px;
    position: relative;
    margin-right: 400px;
}

/*Tela de cadastro*/

.body-cadastro {
    background-color: #fdd282;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}

.container-cadastro {
    display: flex;
    height: 520px;
    width: 800px;
    background: #fff;
    border: 2px soli rgba(255, 255, 255, .2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
}


.container-cadastro .cadastro-h1 {
    font-size: 46px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 40px;
}

.inp-cadastro {
    width: 30%;
    height: 30px;
    margin: 10px 0;
    margin-left: 350px;
    border-radius: 6px;
    text-align: center;
}

.button-cadastro {
    margin-left: 350px;
    width: 30%;
    height: 30px;
    background: #06960d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
}

.button-cadastro:hover {
    background: rgba(69, 69, 69, 1);
}

.paragraph-cadastro {
    margin-left: 350px;
    margin-top: 30px;
}

.img-casdastro img {
    width: 400px;
    height: 400px;
    position: relative;
    margin-right: 400px;
}

/*Tela home*/

.body-home {
    background: url(./assets/logo.jpg);
    background-repeat: no-repeat;
    background-position-x: 325px;
    background-color: #bfbf5e;
}

.header-container {
    overflow: hidden;
    background-color: #d56b1d;
    padding: 8px 8px;
}

.topo {
    display: flex;
    justify-content: space-evenly;
}

.img-header {
    width: 60px;
    height: 50px;
    margin-right: 60px;
}

.carrinho {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
}


.nav-menu button {
    margin-right: 8px;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    background-color: #fdd282;
    cursor: pointer;
    border: none;
    margin-top: 28px;
    margin-left: 20px;
}

.nav-menu button:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.container-itens {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.itens {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.itens .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.itens .info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens .info h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
}

.itens div {
    background-color: #5e5252;
    box-shadow: 0px 0px 4px 1px;
}

.itens img {
    width: 100%;
    height: 200px;
}

/*Tela de doação*/

.body-doar {
    background-color: #58692e;
}


.container-button-doar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.container-button-doar .button-doar {
    margin-left: 80px;
    padding: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-doar:hover {
    background-color: #bfbf5e;
    color: white;
}

/*NAV Padrao*/

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.3), transparent);
    z-index: 100;
}

.nav-logo img {
    width: 120px;
    height: 80px;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
    font-size: 32px;
    font-weight: bold;
}

.link:hover {
    border-bottom: 2px solid #fff;
}

/*Carrinho*/

.body-carrinho {
    background-color: #fdd282;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-carrinho {
    display: flex;
    height: 500px;
    width: 700px;
    background: #fff;
    border: 2px soli rgba(255, 255, 255, .2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    margin-top: 80px;
}

.container-carrinho h1 {
    font-size: 44px;
    font-weight: bold;
}

.container-carrinho img {
    width: 50px;
    height: 50px;
}

.carrinho {
    width: 50%;
    height: 35px;
    border-radius: 6px;
    text-align: center;
}

.itens-carrinho h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.remover-input {
    font-size: 18px;
}

.container-carrinho input {
    border-radius: 8px;
    width: 180px;
    height: 40px;
    border: 2px solid #58692e;
}

.container-carrinho button {
    margin-top: 18px;
    width: 180px;
    height: 25px;
    border-radius: 5px;
}


/*Tela De anuncios*/

.body-anuncios{
    background-color: #fdd282;
}

.container-lista {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.body-anuncios input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.body-home button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.product-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}